
  <div class="row justify-content-center align-items-center p-3">
    
    <div class="col-md-11">
      <div class="col-md-12"> 
        <div class="border border-dark p-2">
    <div class="p-3 mb-2 bg-secondary text-white mb-5">
        <a class="text-center"><h3>Sửa tài khoản giảng viên</h3></a>
    </div>
    
    <form *ngIf="taikhoandb">
      <div class="form-row mb-2">
        <div class="col-md-6">
          <label for="validate12">Tên đăng nhập</label>
          <input type="text" class="form-control" id="validate12" required [(ngModel)]="taikhoandb.maTk" name="maTk" readonly> 
        </div>
        <div class="col-md-6">
          <label for="validate13">Mật khẩu</label>
          <input type="password" class="form-control" id="validate13" required [(ngModel)]="taikhoandb.matKhau" name="matKhau"> 
        </div>
      </div>
        <div class="form-row mb-2">
            <div class="col-md-6">
                <label for="validate01">Mã giảng viên</label>
                <input type="text" class="form-control" id="validate01" required [(ngModel)]="taikhoandb.maTkDb" name="maTkDb" readonly>
              </div>
            <div class="col-md-6">
              <label for="validate01">Họ tên </label>
              <input type="text" class="form-control" id="validate01" required [(ngModel)]="taikhoandb.hoTen" name="hoTen">
            </div>
          </div>

        <div class="form-row mb-2">
          <div class="col-md-6">
            <label for="validate04">Email</label>
            <input type="text" class="form-control" id="validate04" required [(ngModel)]="taikhoandb.email" name="email">
          </div>
          <div class="col-md-6 ">
            <label for="validate05">SĐT</label>
            <input type="text" class="form-control" id="validate05" required [(ngModel)]="taikhoandb.sdt" name="sdt">
          </div>
        </div>

        <div class="form-group mb-2">
          <label for="formGroupExampleInput">Địa chỉ</label>
          <input type="text" class="form-control" id="formGroupExampleInput" required [(ngModel)]="taikhoandb.diaChi" name="diaChi">
        </div>        

      <div class="container-fluid">
                <div class="row d-flex justify-content-end">
                  <div class="col-3">
                    <button type="button" class="btn btn-danger mr-3" routerLink="/daotao/daotao-qltk">Hủy</button>
                    <button type="submit" class="btn btn-primary" (click)="save()">Cập nhật</button>
                  </div>
                </div>
            </div>
      </form>
</div>
</div>
</div>
</div>
