<div class="row justify-content-center align-items-center p-3">
    <div class="col-md-11">
      <div class="col-md-12"> 
        <div class="border border-dark p-2">
    <div class="p-3 mb-2 bg-secondary text-white mb-5">
        <a class="text-center"><h3>Tạo tài khoản sinh viên</h3></a>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
      <div class="form-row mb-2">
        <div class="col-md-6">
          <label for="validate12">Tên đăng nhập</label>
          <input type="text" class="form-control" [(ngModel)]="taikhoandb.maTk" formControlName="tendangnhap" [ngClass]="{'is-invalid':form.get('tendangnhap').touched && form.get('tendangnhap').invalid}"
          required/>
           <div class="invalid-feedback">
             <div>Chưa nhập tên đăng nhập</div>
           </div>
        </div>
        <div class="col-md-6">
          <label for="validate13">Mật khẩu</label>
          <input type="password" class="form-control" id="validate13" [(ngModel)]="taikhoandb.matKhau" name="matKhau"  formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}"
          required/>
          <div *ngIf="form.get('password').touched && form.get('password').invalid"  class="invalid-feedback">
            <div *ngIf="form.get('password').errors.required">Bạn chưa nhập mật khẩu</div>
            <div *ngIf="form.get('password').errors.minlength">mật khẩu > 6 ký tự</div>
          </div>
        </div>
      </div>
        <div class="form-row mb-2">
            <div class="col-md-6">
              <label for="validate01">Mã sinh viên </label>
              <input type="text" class="form-control" id="validate01" required [(ngModel)]="taikhoandb.maTkDb" name="maTkDb"formControlName="maTkDb" [ngClass]="{'is-invalid':form.get('maTkDb').touched && form.get('maTkDb').invalid}"
              required/>
               <div class="invalid-feedback">
                 <div>Chưa nhập mã sinh viên</div>
               </div>
            </div>
            <div class="col-md-6">
              <label for="validate01">Họ tên </label>
              <input type="text" class="form-control" id="validate01" required [(ngModel)]="taikhoandb.hoTen" name="hoTen"formControlName="hoten" [ngClass]="{'is-invalid':form.get('hoten').touched && form.get('hoten').invalid}"
              required/>
               <div class="invalid-feedback">
                 <div>Chưa nhập họ tên</div>
               </div>
            </div>
          </div>

        <div class="form-row mb-2">
          <div class="col-md-6">
            <label for="validate04">Khóa</label>
            <input type="text" class="form-control" id="validate04" required [(ngModel)]="taikhoandb.khoa" name="khoa">
          </div>
          <div class="col-md-6">
            <label for="validate05">Email</label>
            <input type="text" class="form-control" id="validate05" required [(ngModel)]="taikhoandb.email" name="email"formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}"
            required/>
            <div *ngIf="form.get('email').touched && form.get('email').invalid"  class="invalid-feedback">
              <div *ngIf="form.get('email').errors.required">Bạn chưa nhập email</div>
              <div *ngIf="form.get('email').errors.email">Email chưa đúng định dạng</div>
            </div>
          </div>
        </div>

        <div class="form-row mb-2">
          <div class="col-md-6">
            <label for="formGroupExampleInput">SĐT</label>
            <input type="text" class="form-control" id="formGroupExampleInput" required [(ngModel)]="taikhoandb.sdt" name="sdt"formControlName="sdt" [ngClass]="{'is-invalid':form.get('sdt').touched && form.get('sdt').invalid}"
            required/>
             <div class="invalid-feedback">
               <div>Chưa nhập số điện thoại</div>
             </div>
          </div>
          <div class="col-md-6">
          <label for="formGroupExampleInput">Địa chỉ</label>
          <input type="text" class="form-control" id="formGroupExampleInput" required [(ngModel)]="taikhoandb.diaChi" name="diaChi"formControlName="diachi" [ngClass]="{'is-invalid':form.get('diachi').touched && form.get('diachi').invalid}"
          required/>
           <div class="invalid-feedback">
             <div>Chưa nhập địa chỉ</div>
           </div>
        </div>
        
        </div>

          


      <div class="container-fluid">
                <div class="row d-flex justify-content-end">
                  <div class="col-3">
                    <button type="button" class="btn btn-danger mr-3" routerLink="/daotao/daotao-qltk">Hủy</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Thêm mới</button>
                  </div>
                </div>
            </div>
      </form>
</div>
</div>
</div>
</div>
