  <div class="row justify-content-center align-items-center p-3">  
    <div class="col-md-11">
      <div class="col-md-12"> 
        <div class="border border-dark p-2">
    <div class="p-3 mb-2 bg-secondary text-white mb-5">
        <a class="text-center"><h3>Thêm mới kỳ học</h3></a>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
        <div class="form-row mb-2">
          <div class="col-md-6">
            <label for="validate02">Mã kỳ học</label>
            <input type="text" class="form-control" id="validate03" [(ngModel)]="kyhoc.maKy" name="maKy" formControlName="maky" [ngClass]="{'is-invalid':form.get('maky').touched && form.get('maky').invalid}"
            required/>
             <div class="invalid-feedback">
               <div>Chưa nhập mã kỳ</div>
             </div>
          </div>
            <div class="col-md-6">
              <label for="validate02">Tên kỳ học</label>
              <input type="text" class="form-control" id="validate03" [(ngModel)]="kyhoc.tenKy" name="tenKy" formControlName="tenky" [ngClass]="{'is-invalid':form.get('tenky').touched && form.get('tenky').invalid}"
              required/>
               <div class="invalid-feedback">
                 <div>Chưa nhập tên kỳ</div>
               </div> 
            </div>
          </div>

        <div class="form-row mb-2">
          <div class="col-md-6">
            <label for="validate03">Ngày bắt đầu</label>
            <input type="date" #mydate class="form-control" id="validate03" [(ngModel)]="kyhoc.thoiGian" name="thoiGian" formControlName="ngaybatdau" [ngClass]="{'is-invalid':form.get('ngaybatdau').touched && form.get('ngaybatdau').invalid}"
            required/>
             <div class="invalid-feedback">
               <div>Chưa nhập/chọn ngày bắt đầu</div>
             </div>
          </div>
        
          <div class="col-md-6">
            <label for="validate03">Ngày kết thúc</label>
            <input type="date" #mydate class="form-control" id="validate03" required [(ngModel)]="kyhoc.thoiGianKt" name="thoiGianKt" formControlName="ngayketthuc" [ngClass]="{'is-invalid':form.get('ngayketthuc').touched && form.get('ngayketthuc').invalid}"
            required/>
             <div class="invalid-feedback">
               <div>Chưa nhập/chọn ngày kết thúc</div>
             </div>
        </div>
      </div>
      <div class="container-fluid">
                <div class="row d-flex justify-content-end">
                  <div class="col-3">
                    <button type="button" class="btn btn-danger mr-3" routerLink="/daotao/daotao-qlkyhoc">Hủy</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Thêm mới</button>
                  </div>
                </div>
            </div>
      </form>
</div>
</div>
</div>
</div>
