
  <div class="row justify-content-center align-items-center p-3">
     
    <div class="col-md-11">
      <div class="col-md-12"> 
        <div class="border border-dark p-2">
          <div class="p-3 mb-2 bg-secondary text-white mb-5">
            <a class="text-center"><h3>Thêm mới lớp học</h3></a>
        </div>
      <form (ngSubmit)="onSubmit()"  [formGroup]="form" novalidat>
          <div class="form-row mb-2">
              <div class="col-md-6">
                <label for="validate01">Mã lớp </label>
                <input type="text" class="form-control" id="validate01" required [(ngModel)]="lophoc.maLop" name="maLop" 
                formControlName="malop" [ngClass]="{'is-invalid':form.get('malop').touched && form.get('malop').invalid}"
          required/>
                 <div class="invalid-feedback">
                   <div>Chưa nhập mã lớp</div>
                 </div>
              </div>
              <div class="col-md-6">
                <label for="validate01">Tên lớp </label>
                <input type="text" class="form-control" id="validate01" required [(ngModel)]="lophoc.tenLop" name="tenLop"
                formControlName="tenlop" [ngClass]="{'is-invalid':form.get('tenlop').touched && form.get('tenlop').invalid}"
          required/>
           <div class="invalid-feedback">
             <div>Chưa nhập tên tên lớp</div>
           </div>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="col-md-6">
                <label>Tên giảng viên</label>
												<select [(ngModel)]="gvSelected" (ngModelChange)="onGvSelected($event)" class="form-control select" name="giangvien">
                        <option  selected>Lựa chọn</option>
                          <option *ngFor="let gv of giangvien" [ngValue]="gv" >{{gv.taikhoan.hoTen}}</option>								
												</select>
              </div>
              <div class="col-md-6">
                <label>Mã môn học</label>
												<select [(ngModel)]="mhSelected" (ngModelChange)="onMhSelected($event)"  class="form-control select" name="monhoc">
                        <option selected>Lựa chọn</option>
                          <option *ngFor="let mh of monhoc" [ngValue]="mh" >{{mh.maMon}}</option>								
												</select>
              </div>
            </div>

  
        <div class="container-fluid" >
                  <div class="row d-flex justify-content-end">
                    <div class="col-3">
                      <button type="button" class="btn btn-danger mr-3" routerLink="/daotao/daotao-qllh">Hủy</button>
                      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Thêm mới</button>
                    </div>
                  </div>
              </div>
        </form>
      </div>
    </div>
  </div>   
  </div>
