
  <div class="row justify-content-center align-items-center p-3">
    
    <div class="col-md-11">
      <div class="col-md-12"> 
        <div class="border border-dark p-2">
    <div class="p-3 mb-2 bg-secondary text-white mb-5">
        <a class="text-center"><h3>Thêm mới môn học</h3></a>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
        <div class="form-row mb-2">
            <div class="col-md-6">
              <label for="validate01">Mã môn</label>
              <input type="text" class="form-control" id="validate01" required [(ngModel)]="monhoc.maMon" name="maMon" formControlName="mamon" [ngClass]="{'is-invalid':form.get('mamon').touched && form.get('mamon').invalid}"
              required/>
               <div class="invalid-feedback">
                 <div>Chưa nhập mã môn</div>
               </div>
            </div>
            <div class="col-md-6">
                <label for="validate02">Tên môn</label>
                <input type="text" class="form-control" id="validate02" required [(ngModel)]="monhoc.tenMon" name="tenMon" formControlName="tenmon" [ngClass]="{'is-invalid':form.get('tenmon').touched && form.get('tenmon').invalid}"
                required/>
                 <div class="invalid-feedback">
                   <div>Chưa nhập tên môn</div>
                 </div>
            </div>
          </div>

        <div class="form-row mb-2">
          <div class="col-md-6">
            <label for="validate03">Kỳ học</label>
            <input type="text" class="form-control" id="validate01" required [(ngModel)]="monhoc.maKy" name="maKy" formControlName="kyhoc" [ngClass]="{'is-invalid':form.get('kyhoc').touched && form.get('kyhoc').invalid}"
            required/>
             <div class="invalid-feedback">
               <div>Chưa nhập kỳ học</div>
             </div>
          </div>
        </div>

      <div class="container-fluid">
                <div class="row d-flex justify-content-end">
                  <div class="col-3">
                    <button type="button" class="btn btn-danger mr-3" routerLink="/daotao/daotao-qlmh">Hủy</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Thêm mới</button>
                  </div>
                </div>
            </div>
      </form>
</div>
</div>
</div>
</div>
