
<div class="border border-dark p-5">
    <div class="p-3 mb-2 bg-secondary text-white mb-5">
        <a class="text-center"><h3>Sửa thông tin môn học</h3></a>
    </div>
    <form *ngIf="monhoc">
        <div class="form-row mb-2">
            <div class="col-md-6">
              <label for="validate01">Mã môn </label>
              <input type="text" class="form-control" id="validate01" required [(ngModel)]="monhoc.maMon" name="maMon" readonly>
            </div>
            <div class="col-md-6">
              <label for="validate02">Tên môn</label>
              <input type="text" class="form-control" id="validate01" required [(ngModel)]="monhoc.tenMon" name="tenMon" >
            </div>
          </div>

        <div class="form-row mb-2">
          <div class="col-md-6">
            <label for="validate03">Mã kỳ</label>
            <input type="text" class="form-control" id="validate01" required [(ngModel)]="monhoc.maKy" name="maKy" >
          </div>
        </div>
        

      <div class="container-fluid">
                <div class="row d-flex justify-content-end">
                  <div class="col-3">
                    <button type="button" class="btn btn-danger mr-3" routerLink="/daotao/daotao-qlmh">Hủy</button>
                    <button type="button" class="btn btn-primary" (click)="save()">Cập nhật</button>
                  </div>
                </div>
            </div>
      </form>
</div>
